@charset "UTF-8";

/* footer */
.footer-site-footer {
	display: grid;
	background-color: white;  
	padding: 20px 0 20px;
	font-size: 15px;
	color: #737373;
	margin-top: 120px;
}

.footer-site-footer h2 {
	color: #fff;
}

.footer-site-footer h6 {
	color: #737373;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px;
}

.footer-site-footer a {
	color: #737373;
}

.footer-site-footer a:hover {
	color: #3366cc;
	text-decoration: none;
}

.footer-navbar-weather {
	padding-left: 0;
	list-style: none
}

.footer-navbar-weather li {
	display: block
}

.footer-navbar-weather a {
	color: #737373
}

.footer-navbar-weather a:active, .footer-navbar-weather a:focus,
	.footer-navbar-weather a:hover {
	color: #3366cc;
	text-decoration: none;
}

.footer-navbar-weather.inline li {
	display: inline-block
}

.footer-navbar-news {
	padding-left: 0;
	list-style: none
}

.footer-navbar-news li {
	display: block
}

.footer-navbar-news a {
	color: #737373
}

.footer-navbar-news a:active, .footer-navbar-news a:focus,
	.footer-navbar-news a:hover {
	color: #3366cc;
	text-decoration: none;
}

.footer-navbar-news.inline li {
	display: inline-block
}

.footer-navbar-campaign {
	padding-left: 0;
	list-style: none
}

.footer-navbar-campaign li {
	display: block
}

.footer-navbar-campaign a {
	color: #737373
}

.footer-navbar-campaign a:active, .footer-navbar-campaign a:focus,
	.footer-navbar-campaign a:hover {
	color: #3366cc;
	text-decoration: none;
}

.footer-navbar-campaign.inline li {
	display: inline-block
}

.footer-site-footer .socialfooter {
	text-align: right
}

.footer-site-footer .socialfooter a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
}

.copyright-text {
	margin: 0
}

@media ( max-width :auto) {
	.footer-site-footer [class^=col-] {
		margin-bottom: 30px
	}
}

@media ( max-width :auto) {
	.footer-site-footer {
		padding-bottom: 0
	}
	.footer-site-footer .copyright-text, .footer-site-footer .socialfooter {
		text-align: center
	}
}